<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio Mansour's Portfolio</title>
    <script src="https://kit.fontawesome.com/4f63203b31.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/img/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<header>
    <h1>Welcome to Amelio Mansour's Portfolio.</h1>
    <nav>
        <ul>
            <li>
                <a href="../views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="../views/html/my_resume.ejs">My Resume</a>
            </li>
            <li>
                <a href="../views/html/my_fun_facts.ejs">Fun Facts About Me</a>
            </li>
            <li style="display: none;" > 
                <a href="../views/html/blog.ejs">Blog</a>
            </li>
            <li>
                <a href="../views/html/trivia.ejs">Trivia</a>
            </li>
        </ul>
    </nav>

</header>

<body>

    <img id="Myself" src="/public/img/Picture of Amelio.jpg" alt="Picture of me and my two nieces." width="350px">
    <p id="aboutme">Hello, my name is Amelio Mansour. I am 19 years old and curently a student at Oakland University
        in my Sophmore year. In my free time I like to travel, go to the gym, and spend time with my family
        and friends. In the picture above is me and my two nieces this past summer at Magic Kingdom in Orlando Florida.
        You will hear more about my nieces in my <a href="html/my_fun_facts.html">Fun Facts Page</a>.
        My major is in Information Technology. I have not decided what specific career I want go into yet,
        but I am shifting towards the field of managing databases or systems analyst. I have worked
        with large data bases in the workplace since I was 17. On <a href="html/my_resume.html">My Resume Page</a>
        you can read more about my work experience. </p>
    <blockquote>"Early to bed and early to rise, makes a man healthy, wealthy, and wise." - Benjamin Franklin
    </blockquote>



    <br>
    <div id="degree">
        <h2>Progress to my Degree</h2>
        <label for="Progress_to_Degree">Bachelor's in IT:</label>
        <progress id="Progress_to_Degree" value="73" max="130"> </progress>
    </div>
</body>

<footer id="indexfoot">
    <br>
    <hr>
    &copy;Amelio Mansour. <br>
    <label for="email">Email:</label>
    <a href="mailto: ameliomansour@oakland.edu" id="email">ameliomansour@yahoo.com</a> <br>
    <a href="https://www.linkedin.com/in/amelio-mansour-5ab9561a9/" target="_blank">
        <i class="fab fa-linkedin fa-3x"></i></a>
    <a href="https://www.instagram.com/ameliomansour/" target="_blank">
        <i class="fab fa-instagram-square fa-3x"></i>
    </a>

</footer>

</html>