<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio Mansour's Portfolio</title>
    <script src="https://kit.fontawesome.com/4f63203b31.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="/public/js/script1.js" defer></script>
</head>
<header>
    <h1>Amelio Mansour - Blog</h1>
    <nav>
        <ul>
            <li>
                <a href="/views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="my_resume.ejs">My Resume</a>
            </li>
            <li>
                <a href="my_fun_facts.ejs">Fun Facts About Me</a>
            </li>
            <li>
                <a href="blog.ejs">Blog</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <h2>Rivian Automotive</h2>
    <img id="Truck" src="/public/img/Rivian.jpg" width="550px" alt="Rivian Electric Pickup Truck">

    <p id="RivianBlog" width="365px">
        Rivian Automotive is an up and coming electric vehicle manufacturer. They are mostly known for their
        newly announced electric pickup truck and sporty SUV. The company just entered as a public trading
        company on November 10th, since then, the market cap has already surpassed 100 Billion.
        This gives it a market cap more than ford and GM. However, the company has not even sold
        over 200 cars in total. The main financial investors are Amazon and Ford, with Amazon owning 22%
        and Ford owning 12%. The vehicle on the right is Rivian's 2022 R1T. The electric
        truck has good sized range of 314 miles and starts off at around $74,000. Rivian reported
        that the R1T have a 0-60 of 3 seconds flat which has never been heard of for a truck. The R1t 
        has an all wheel drive that is unlike many of the competitors, each wheel of the car
        has its own electric motor. This allows the car to be able to turn all wheels at one time which
        is good for driving in off road settings. Also the R1T standard edition can tow more than 11,000 
        pounds and has a payload capacity of 1700 pounds. One interesting descision Rivian has made with 
        their vehicles is to leave out Apple CarPlay and Android Auto. Many iPhone and Android users 
        take advantage of the opportunity to integrate between their cell phones and their car's
        infotainment system.
    </p>
    <h3 id="Commentsection">Comments</h3>
    <button id="CommentButton">Add a Comment!</button>
</body>
<footer>
    <br>
    <hr>
    &copy;Amelio Mansour. <br>
    <label for="email">Email:</label>
    <a href="mailto: ameliomansour@oakland.edu" id="email">ameliomansour@yahoo.com</a> <br>
    <a href="https://www.linkedin.com/in/amelio-mansour-5ab9561a9/" target="_blank">
        <i class="fab fa-linkedin fa-3x"></i></a>
    <a href="https://www.instagram.com/ameliomansour/" target="_blank">
        <i class="fab fa-instagram-square fa-3x"></i>
    </a>

</footer>

</html>