<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio Mansour's Portfolio</title>
    <script src="https://kit.fontawesome.com/4f63203b31.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/img/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="/public/css/styles.css">

</head>

<header>
    <h1>Amelio Mansour - Trivia</h1>
    <nav>
        <ul>
            <li>
                <a href="/views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="my_resume.ejs">My Resume</a>
            </li>
            <li>
                <a href="my_fun_facts.ejs">Fun Facts About Me</a>
            </li>
            <li style="display: none;" > 
                <a href="blog.ejs">Blog</a>
            </li>
            <li>
                <a href="trivia.ejs">Trivia</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <p>ONLY Enter the corresponding capital letter to the answer or your answer will be marked incorrect! <br>Example: A
    </p>
    <p id="score">Score: <%=x%></p> 
    <h2>Question 1</h2>
    <p>1. What is the capital of Michigan?
    </p>
    <form action="/getanswers/" method="post">
        <p>
            <br> &nbsp;&nbsp;&nbsp; A. Detroit
            <br> &nbsp;&nbsp;&nbsp; B. Lansing
            <br> &nbsp;&nbsp;&nbsp; C. Troy
            <br> &nbsp;&nbsp;&nbsp; D. Rochester
            <textarea name="Answer1" id="Answer1" cols="30" rows="10"></textarea>

        </p>

        <h2>Question 2</h2>
        <p>2. What programming language is used to add styling to a webapp?</p>

        <p>
            <br> &nbsp;&nbsp;&nbsp; A. HTML
            <br> &nbsp;&nbsp;&nbsp; B. JS
            <br> &nbsp;&nbsp;&nbsp; C. CSS
            <br> &nbsp;&nbsp;&nbsp; D. EJS

            <textarea name="Answer2" id="Answer2" cols="30" rows="10"></textarea>

        </p>
        <h2>Question 3</h2>
        <p>3. What is the NBA team of Detroit called?</p>

        <p>
            <br> &nbsp;&nbsp;&nbsp; A. Pistons
            <br> &nbsp;&nbsp;&nbsp; B. Lakers
            <br> &nbsp;&nbsp;&nbsp; C. Raptors
            <br> &nbsp;&nbsp;&nbsp; D. Warriors

            <textarea name="Answer3" id="Answer3" cols="30" rows="10"></textarea>

        </p>
        <h2>Question 4</h2>
        <p>4. What piece of clothing does the state Michigan look like?</p>

        <p>
            <br> &nbsp;&nbsp;&nbsp; A. Socks
            <br> &nbsp;&nbsp;&nbsp; B. Shirt
            <br> &nbsp;&nbsp;&nbsp; C. Pants
            <br> &nbsp;&nbsp;&nbsp; D. a Mitten
            <textarea name="Answer4" id="Answer4" cols="30" rows="10"></textarea>

        </p>
        <input type="submit"Value="SUBMIT" class="formbuttons">
        <input type="reset"Value="RESET"class="formbuttons">
    </form>
    




</body>


</html>